.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navHeader {
  /* border: 3px solid rgb(0, 0, 0); */
  border-radius: 20px;
  padding: 0.4em 0.3em;
  padding-left: 80px;
}
.landingPageContainer nav h2 {
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #daa520;
  text-shadow: 4px 4px 4px rgb(1, 0, 0);
}
.landingPageContainer nav .navlist {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  position: relative;
  right: 17px;
  top: -12px;
}
.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}
.connect {
  padding-left: 50px;
}
.landingMainContainer > div:nth-child(1) {
  font-size: 1.1rem;
}
.landingMainContainer > div:nth-child(1) div[role="button"] {
  background: #daa520;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}
.landingMainContainer div:nth-child(1) div[role="button"] Link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
.landingMainContainer div:nth-child(2) img {
  height: 70vh;
  width: auto;
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
