.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
@media (max-width: 800px) {
  .landingPageContainer {
    max-width: 100%;
    max-height: 100%;
  }
}
.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .landingPageContainer nav {
    max-width: 100%;
    max-height: 100%;
    padding: 0px 0px 56px 0px;
  }
}
.navHeader {
  /* border: 3px solid rgb(0, 0, 0); */
  border-radius: 20px;
  padding: 0.4em 0.3em;
  padding-left: 80px;
}

@media (max-width: 800px) {
  .navHeader {
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 20px;
    padding: 0.4em 0.3em;
  }
}
.landingPageContainer nav h2 {
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #daa520;
  text-shadow: 4px 4px 4px rgb(1, 0, 0);
}

@media (max-width: 800px) {
  .landingPageContainer nav h2 {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #daa520;
    text-shadow: 4px 4px 4px rgb(1, 0, 0);
  }
}

.landingPageContainer nav .navlist {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  position: relative;
  right: 17px;
  top: -12px;
}

@media (max-width: 800px) {
  .landingPageContainer nav .navlist {
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    position: relative;
    right: 4px;
    top: 0px;
  }
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

@media (max-width: 800px) {
  .landingMainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-inline: 0%;
    height: 0px;
    align-items: none;
  }
}
.connect {
  padding-left: 50px;
}
.landingMainContainer > div:nth-child(1) {
  font-size: 1.1rem;
}
.landingMainContainer > div:nth-child(1) div[role="button"] {
  background: #daa520;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}
.landingMainContainer div:nth-child(1) div[role="button"] Link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
.landingMainContainer div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

@media (max-width: 800px) {
  .landingMainContainer div:nth-child(2) img {
    height: 39vh;
    width: auto;
    position: relative;
    top: 60px;
    left: 33px;
  }
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
